* { 
	all: unset;
}

@define-color background #282828;
@define-color bg0        #1d2021;
@define-color text-color #ebdbb2;
@define-color dark-gray #3c3836;
@define-color dark-gray2 #504945;

@define-color active-bg #d65d0e;
@define-color active-br #d65d0e;
@define-color active-fg #282828;
@define-color inactive-fg #a89984;

@define-color volume-bg #83a598;
@define-color volume-fg #282828;
@define-color volume-br #458588;

@define-color battery-bg #fb4934;
@define-color battery-fg #282828;
@define-color battery-br #cc241b;

@define-color clock-bg #8ec07c;
@define-color clock-fg #282828;
@define-color clock-br #689d6a;

@define-color backlight-bg #fabd2f;
@define-color backlight-fg #282828;
@define-color backlight-br #d79921;

window#waybar {
  background: @background;
  color: @text-color;
  font-family: monospace;
  font-size: 12pt;
}
window#waybar.empty #window {
  background: none;
  border: none;
}

#custom-tile {
	margin: 0 8px;
	font-size: 10pt;
	color: @inactive-fg;
}

#workspaces button, #tags button {
  color: @inactive-fg;
  padding: 0 8px;
}
#workspaces button.active, #tags button.focused, #tags button.active {
  background: @active-bg;
  color: @active-fg;
}
#window {
  background: @active-bg;
  color: @active-fg;
  padding: 0 10px 0 10px;
}

#pulseaudio, #battery, #clock, #backlight {
  margin: 0 6px;
}

.modules-right {
  margin-right: 4px;
}
.modules-left {
  margin-left: 0px;
}

#tray {
  margin-right: 12px;
}
