* { 
	all: unset;
}

@define-color background #282828;
@define-color bg0        #1d2021;
@define-color text-color #ebdbb2;
@define-color dark-gray #3c3836;
@define-color dark-gray2 #504945;

@define-color active-bg #fe8019;
@define-color active-br #d65d0e;
@define-color active-fg #282828;
@define-color inactive-fg #a89984;

@define-color volume-bg #83a598;
@define-color volume-fg #282828;
@define-color volume-br #458588;

@define-color battery-bg #fb4934;
@define-color battery-fg #282828;
@define-color battery-br #cc241b;

@define-color clock-bg #8ec07c;
@define-color clock-fg #282828;
@define-color clock-br #689d6a;

@define-color backlight-bg #fabd2f;
@define-color backlight-fg #282828;
@define-color backlight-br #d79921;

window#waybar {
  background: @background;
  color: @text-color;
  font-family: monospace;
  font-size: 12pt;
}
window#waybar.empty #window {
  background: none;
  border: none;
}

#workspaces {
  background: @dark-gray;
  border-radius: 8px;
  border-bottom: 4px solid @dark-gray2;
  margin:  6px;
}

#workspaces button {
  margin: 4px 5px;
  padding: 0 12px;
  background: @dark-gray;
  border-radius: 8px;
  color: @inactive-fg;
}
#workspaces button.active {
  background: @active-bg;
  border-bottom: 2px solid @active-br;
  color: @active-fg;
  font-weight: 900;
}
#window {
  margin: 6px 10px;
  background: @dark-gray;
  border-radius: 8px;
  border-bottom: 4px solid @dark-gray2;
  padding: 0 12px;
}

#pulseaudio, #battery, #clock, #backlight {
  background: @dark-gray;
  border-radius: 8px;
  border-bottom: 4px solid @dark-gray2;
  margin: 6px 2px;
  padding: 2px 12px;
}

#pulseaudio {
  background: @volume-bg;
  color: @volume-fg;
  border-bottom-color: @volume-br;
}
#battery {
  background: @battery-bg;
  color: @battery-fg;
  border-bottom-color: @battery-br;
}
#clock {
  background: @clock-bg;
  color: @clock-fg;
  border-bottom-color: @clock-br;
  font-weight: 700;
}
#backlight {
  background: @backlight-bg;
  color: @backlight-fg;
  border-bottom-color: @backlight-br;
}

.modules-right {
  margin-right: 6px;
}
.modules-left {
  margin-left: 6px;
}

#tray {
  margin-right: 12px;
}
